@media only screen and (max-width: 1440px){
 
    *{
        font-family: 'League Spartan', sans-serif;
        

    }
    body{
        padding:20px 60px 0px 60px ;
        
    }
    
    .img{
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
        
    }
    .img-botton{
        position: absolute;
        right: 0px;
        bottom: 0px;
        z-index: -1;
        
    }
    .container{
        display:flex;
    }
    .primary{
       color: rgb(81,33,80);
       font-size:20px;
       word-wrap: break-word;
       width: 40%;
        font-weight:30px;
       
        
    }
    .section{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .star1{
        width: 270px;;
        height: 30px;
        border-radius: 3px;
        background-color: rgba(193, 155, 192, 0.19);  
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start flex;
        padding-left:15px;
        margin-left:-60px;
        margin-bottom:10px;
    }
    .star2{
        width: 270px;;
        height: 30px;
        border-radius: 3px;
        background-color: rgba(193, 155, 192, 0.19);  
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start flex;
        padding-left:15px;
        margin-left:-30px;
        margin-bottom:10px;
    }
    .star3{
        width: 270px;;
        height: 30px;
        border-radius: 3px;
        background-color: rgba(193, 155, 192, 0.19);  
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start flex;
        padding-left:15px;
    }
    
    .img1{
        width: 10px;
        height: 10px;
        margin-left: 10px;
    }
    .rateing1{
        color: rgb(81,33,80);
       font-size:13px;
       font-weight: bolder;
       padding-left:9px;
    }

    /* cards */
    .card{
        width:85%;
        display: flex;
        flex-direction: row;
      
        /* padding-top: 30px; */
        height:fit-content; 
        margin-top: 25px;
        
     
    }
    .card1,.card2,.card3{
        flex: 1;
        background-color:rgb(81,33,80);
        border-radius:10px;
        padding:20px;
        margin-right: 20px;
        
    }
    /* .card1{
        position: relative;
        top:10px;
    } */
    .card2{
        position: relative;
        top:20px;
    }
    .card3{
        position: relative;
        top: 30px;
    }
   
    .colton{
        width:35px;
        height:35px;
        border-radius:200px;
    }
    .name{
        display:flex;
    }
    .data{
        padding:4px 20px 20px 20px;
    }
}